* {
    outline: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

